.main-it {
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-12 {
  margin-bottom: 20px;
}

iframe {
  width: 500px;
  height: 300px;
}

.section__title {
  margin-top: 15px;
}

@media screen and (max-width: 1199px) {
  iframe {
    width: 100%;
  
  }
}